### Homework

Before you begin, always remember to import the necessary libraries.

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

#### Standard Exercises

1. Use pandas to import the file `Global Superstore Data.csv` from the data folder (we have worked with this dataset before in Module 1). Assign the csv file to a dataframe called `df` and print the first 10 rows of data

In [5]:
df = pd.read_csv("/content/gdrive/MyDrive/Sander Mulder/python folder/Pandas 2/data/Global Superstore Data.csv")
df.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31/7/2012,31/7/2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,5/2/2013,7/2/2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,17/10/2013,18/10/2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,28/1/2013,30/1/2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,5/11/2013,6/11/2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical
5,22732,IN-2013-42360,28/6/2013,1/7/2013,Second Class,JM-15655,Jim Mitchum,Corporate,Sydney,New South Wales,...,TEC-PH-10000030,Technology,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750,897.35,Critical
6,30570,IN-2011-81826,7/11/2011,9/11/2011,First Class,TS-21340,Toby Swindell,Consumer,Porirua,Wellington,...,FUR-CH-10004050,Furniture,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400,894.77,Critical
7,31192,IN-2012-86369,14/4/2012,18/4/2012,Standard Class,MB-18085,Mick Brown,Consumer,Hamilton,Waikato,...,FUR-TA-10002958,Furniture,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800,878.38,High
8,40155,CA-2014-135909,14/10/2014,21/10/2014,Standard Class,JW-15220,Jane Waco,Corporate,Sacramento,California,...,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,5083.960,5,0.2,1906.4850,867.69,Low
9,40936,CA-2012-116638,28/1/2012,31/1/2012,Second Class,JH-15985,Joseph Holt,Consumer,Concord,North Carolina,...,FUR-TA-10000198,Furniture,Tables,Chromcraft Bull-Nose Wood Oval Conference Tabl...,4297.644,13,0.4,-1862.3124,865.74,Critical

2. Check the shape of the dataframe. How many rows and columns does it have?

In [6]:
df.shape
# 51290 rows and 24 columns

(51290, 24)

3. We have quite a lot of columns in our dataset. To keep things simple for this exercise, select just the following columns and assign them to a new dataframe called df_crop

- Row ID
- Order ID
- Order Date 
- Country
- Product Name
- Sales
- Quantity

In [127]:
df_crop = df[["Row ID", "Order ID", "Order Date", "Country", "Product Name", "Sales", "Quantity"]]

4. Check to see if all the columns in our new dataframe are as we expect them to be

In [128]:
df_crop.head(10)

,Row ID,Order ID,Order Date,Country,Product Name,Sales,Quantity
0,32298,CA-2012-124891,31/7/2012,United States,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7
1,26341,IN-2013-77878,5/2/2013,Australia,"Novimex Executive Leather Armchair, Black",3709.395,9
2,25330,IN-2013-71249,17/10/2013,Australia,"Nokia Smart Phone, with Caller ID",5175.171,9
3,13524,ES-2013-1579342,28/1/2013,Germany,"Motorola Smart Phone, Cordless",2892.510,5
4,47221,SG-2013-4320,5/11/2013,Senegal,"Sharp Wireless Fax, High-Speed",2832.960,8
5,22732,IN-2013-42360,28/6/2013,Australia,"Samsung Smart Phone, with Caller ID",2862.675,5
6,30570,IN-2011-81826,7/11/2011,New Zealand,"Novimex Executive Leather Armchair, Adjustable",1822.080,4
7,31192,IN-2012-86369,14/4/2012,New Zealand,"Chromcraft Conference Table, Fully Assembled",5244.840,6
8,40155,CA-2014-135909,14/10/2014,United States,Fellowes PB500 Electric Punch Plastic Comb Bin...,5083.960,5
9,40936,CA-2012-116638,28/1/2012,United States,Chromcraft Bull-Nose Wood Oval Conference Tabl...,4297.644,13

In [129]:
df_crop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Row ID        51290 non-null  int64
 1   Order ID      51290 non-null  object
 2   Order Date    51290 non-null  object
 3   Country       51290 non-null  object
 4   Product Name  51290 non-null  object
 5   Sales         51290 non-null  float64
 6   Quantity      51290 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 2.7+ MB

5. You should notice that our Order Date column is stored as a object (i.e., a string variable). Take a look at the pandas `datetime` data type at the [documentation here](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html). Convert our Order Date column to a datetime dtype and confirm the data type has changed with `.info()`.

In [130]:
df_crop["Order Date"] = pd.to_datetime(df_crop["Order Date"], dayfirst = True, yearfirst = False)

df_crop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Row ID        51290 non-null  int64
 1   Order ID      51290 non-null  object
 2   Order Date    51290 non-null  datetime64[ns]
 3   Country       51290 non-null  object
 4   Product Name  51290 non-null  object
 5   Sales         51290 non-null  float64
 6   Quantity      51290 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 2.7+ MB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [131]:
df_crop.head()

,Row ID,Order ID,Order Date,Country,Product Name,Sales,Quantity
0,32298,CA-2012-124891,2012-07-31,United States,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7
1,26341,IN-2013-77878,2013-02-05,Australia,"Novimex Executive Leather Armchair, Black",3709.395,9
2,25330,IN-2013-71249,2013-10-17,Australia,"Nokia Smart Phone, with Caller ID",5175.171,9
3,13524,ES-2013-1579342,2013-01-28,Germany,"Motorola Smart Phone, Cordless",2892.510,5
4,47221,SG-2013-4320,2013-11-05,Senegal,"Sharp Wireless Fax, High-Speed",2832.960,8

6. As a bonus for the above question, take a look at how the dates are formatted within our dataset. Is there any arguments you could specific when converting the Order Date column to a datetime dtype to ensure the correct date format was used?

In [34]:
# it was day/month/year and with question 5 it bevomes year/month/day
#df_crop.loc("Order Date") = pd.to_datetime(df_crop["Order Date"], dayfirst = True)
#df_crop.loc[:, ('Order Date')] = 
pd.to_datetime(df_crop.loc[:, ('Order Date')], dayfirst = True, yearfirst=False, format='%d%m%y')
#df_crop.head(10)

0       2012-07-31
1       2013-02-05
2       2013-10-17
3       2013-01-28
4       2013-11-05
           ...
51285   2014-06-19
51286   2014-06-20
51287   2013-12-02
51288   2012-02-18
51289   2012-05-22
Name: Order Date, Length: 51290, dtype: datetime64[ns]

7. Our dataset now looks fairly clean. Use pandas to see what the most common Country in the dataset is?

In [35]:
df_crop["Country"].value_counts()

United States    9994
Australia        2837
France           2827
Mexico           2644
Germany          2065
                 ...
Bahrain             2
South Sudan         2
Chad                2
Burundi             2
Eritrea             2
Name: Country, Length: 147, dtype: int64

8. What was the sum of sales in the dataset?

In [37]:
df_crop["Sales"].sum()

12642501.909880001

9. Which product in the dataset had the maximum sales value?

In [44]:
df_crop[df_crop["Sales"] == df_crop["Sales"].max()]

,Row ID,Order ID,Order Date,Country,Product Name,Sales,Quantity
12887,33994,CA-2011-145317,2011-03-18,United States,Cisco TelePresence System EX90 Videoconferenci...,22638.48,6

10. Calculate the number of days it's been since the newest and oldest order in the dataset

In [50]:
first_date = df_crop["Order Date"].min()
last_date = df_crop["Order Date"].max()
print(first_date, "\t",last_date)

2011-01-01 00:00:00 	 2014-12-31 00:00:00

In [55]:
awnser =  abs((first_date - last_date).days)
print(awnser)

1460

#### Advanced Exercises

Let's reload the Google Analytics dataset that we saw in class and call it `ga` for brevity:

In [85]:
ga = pd.read_csv("/content/gdrive/MyDrive/Sander Mulder/python folder/Pandas 2/data/GA Paid Search Traffic.csv", skiprows=[0,1,2,3,4,5,8], nrows=10)
ga

,Keyword,Users,New Users,Sessions,Bounce Rate,Pages/Session,Avg. Session Duration,E-commerce Conversion Rate,Transactions,Revenue
0,Google Merchandise Store,"1,051",753,"1,455",27.29%,5.62,00:03:41,0.34%,5,US$256.96
1,google merch,103,82,145,28.28%,6.04,00:03:29,2.07%,3,US$86.09
2,google backpack,95,68,121,40.50%,4.20,00:02:27,0.00%,0,US$0.00
3,Google Merchandise,93,54,147,28.57%,5.37,00:03:23,0.68%,1,US$79.98
4,Google Apparel,92,76,127,37.80%,4.97,00:03:11,0.79%,1,US$76.37
5,youtuber merch,78,76,82,78.05%,1.41,00:00:06,0.00%,0,US$0.00
6,Google Swag,63,57,80,41.25%,5.10,00:04:14,0.00%,0,US$0.00
7,google merch store,54,38,69,28.99%,5.09,00:02:33,0.00%,0,US$0.00
8,Google Clothing,39,36,49,40.82%,3.98,00:02:43,0.00%,0,US$0.00
9,NaN,"2,539","1,853","3,457",32.51%,5.21,00:03:17,0.40%,14,US$607.60

In class we wrote the following statements to clean up the data:

In [ ]:
# DO NOT RUN

# remove comma & convert to int
ga_keywords["Users"] = ga_keywords["Users"].str.replace(',', '').astype('int64')
ga_keywords["Sessions"] = ga_keywords["Sessions"].str.replace(',', '').astype('int64')
# remove % & convert to float
ga_keywords["Bounce Rate"] = ga_keywords["Bounce Rate"].str.replace('%', '').astype('float64')
ga_keywords["E-commerce Conversion Rate"] = ga_keywords["E-commerce Conversion Rate"].str.replace('%', '').astype('float64')
# remuve US$ & convert to float
ga_keywords["Revenue"] = ga_keywords["Revenue"].str.replace('US$', '', regex=False).astype('float64')

1. Your task is to write three functions to solve each of the above cases, such that you can pass the `df["colname"]` as an argument to the function and reassign the result to the original column. Here are three examples of how you would use each function to clean a column: 
    - `ga["Users"] = clean_comma(ga["Users"])`
    - `ga["Bounce Rate"] = clean_pct(ga["Bounce Rate"])`
    - `ga["Revenue"] = clean_usd(ga["Revenue"])`

In [88]:
# define the function clean_comma()
def clean_comma(series):
  removed = series.str.replace(',', '').astype("int64")
  return removed

In [87]:
# call the function clean_comma()
print(ga["Users"] )
print(clean_comma(ga["Users"]))
ga.head(10)

0    1,051
1      103
2       95
3       93
4       92
5       78
6       63
7       54
8       39
9    2,539
Name: Users, dtype: object
0    1051
1     103
2      95
3      93
4      92
5      78
6      63
7      54
8      39
9    2539
Name: Users, dtype: int64

,Keyword,Users,New Users,Sessions,Bounce Rate,Pages/Session,Avg. Session Duration,E-commerce Conversion Rate,Transactions,Revenue
0,Google Merchandise Store,"1,051",753,"1,455",27.29%,5.62,00:03:41,0.34%,5,US$256.96
1,google merch,103,82,145,28.28%,6.04,00:03:29,2.07%,3,US$86.09
2,google backpack,95,68,121,40.50%,4.20,00:02:27,0.00%,0,US$0.00
3,Google Merchandise,93,54,147,28.57%,5.37,00:03:23,0.68%,1,US$79.98
4,Google Apparel,92,76,127,37.80%,4.97,00:03:11,0.79%,1,US$76.37
5,youtuber merch,78,76,82,78.05%,1.41,00:00:06,0.00%,0,US$0.00
6,Google Swag,63,57,80,41.25%,5.10,00:04:14,0.00%,0,US$0.00
7,google merch store,54,38,69,28.99%,5.09,00:02:33,0.00%,0,US$0.00
8,Google Clothing,39,36,49,40.82%,3.98,00:02:43,0.00%,0,US$0.00
9,NaN,"2,539","1,853","3,457",32.51%,5.21,00:03:17,0.40%,14,US$607.60

In [100]:
# define the function clean_pct()
def clean_pct(series):
  try:
    clean = series.str.replace("%", '').astype("float64")
  except:
    return series
  return clean

In [102]:
# call the function clean_pct()
ga["Bounce Rate"] = clean_pct(ga["Bounce Rate"])
ga["E-commerce Conversion Rate"] = clean_pct(ga["E-commerce Conversion Rate"])

In [109]:
# define the function clean_usd()
def clean_usd(series):
  try:
    clean_money = series.str.replace("US$", '', regex = False).astype('float64')
    return clean_money
  except:
    return series

In [110]:
# call the function clean_usd()
ga["Revenue"] = clean_usd(ga["Revenue"])

In [111]:
ga.head(10)

,Keyword,Users,New Users,Sessions,Bounce Rate,Pages/Session,Avg. Session Duration,E-commerce Conversion Rate,Transactions,Revenue
0,Google Merchandise Store,"1,051",753,"1,455",27.29,5.62,00:03:41,0.34,5,256.96
1,google merch,103,82,145,28.28,6.04,00:03:29,2.07,3,86.09
2,google backpack,95,68,121,40.50,4.20,00:02:27,0.00,0,0.00
3,Google Merchandise,93,54,147,28.57,5.37,00:03:23,0.68,1,79.98
4,Google Apparel,92,76,127,37.80,4.97,00:03:11,0.79,1,76.37
5,youtuber merch,78,76,82,78.05,1.41,00:00:06,0.00,0,0.00
6,Google Swag,63,57,80,41.25,5.10,00:04:14,0.00,0,0.00
7,google merch store,54,38,69,28.99,5.09,00:02:33,0.00,0,0.00
8,Google Clothing,39,36,49,40.82,3.98,00:02:43,0.00,0,0.00
9,NaN,"2,539","1,853","3,457",32.51,5.21,00:03:17,0.40,14,607.60

2. Write one function that can accomplish any of the three cases from the previous point by specifying extra parameters in the function call. Here are three examples of how you would use each function to clean a column: 
    - `ga["Users"] = clean_function(ga["Users"], ',', 'int64')`
    - `ga["Bounce Rate"] = clean_function(ga["Bounce Rate"], '%', 'float64')`
    - `ga["Revenue"] = clean_function(ga["Revenue"], 'US$', 'float64')`

In [115]:
# define the function clean_function()
def clean_function(series, token, types):
  try:
    clean = series.str.replace(token, '', regex = False).astype(types)
  except:
    return series
  return clean

In [116]:
# call the function clean_function()
# first to reset the data
ga = pd.read_csv("/content/gdrive/MyDrive/Sander Mulder/python folder/Pandas 2/data/GA Paid Search Traffic.csv", skiprows=[0,1,2,3,4,5,8], nrows=10)
# call the functions

ga["Users"] = clean_function(ga["Users"], ',', 'int64')
ga["Bounce Rate"] = clean_function(ga["Bounce Rate"], '%', 'float64')
ga["Revenue"] = clean_function(ga["Revenue"], 'US$', 'float64')

In [ ]:
# now check that the columns in the ga DataFrame have actually changed

In [117]:
ga.head(10)

,Keyword,Users,New Users,Sessions,Bounce Rate,Pages/Session,Avg. Session Duration,E-commerce Conversion Rate,Transactions,Revenue
0,Google Merchandise Store,1051,753,"1,455",27.29,5.62,00:03:41,0.34%,5,256.96
1,google merch,103,82,145,28.28,6.04,00:03:29,2.07%,3,86.09
2,google backpack,95,68,121,40.50,4.20,00:02:27,0.00%,0,0.00
3,Google Merchandise,93,54,147,28.57,5.37,00:03:23,0.68%,1,79.98
4,Google Apparel,92,76,127,37.80,4.97,00:03:11,0.79%,1,76.37
5,youtuber merch,78,76,82,78.05,1.41,00:00:06,0.00%,0,0.00
6,Google Swag,63,57,80,41.25,5.10,00:04:14,0.00%,0,0.00
7,google merch store,54,38,69,28.99,5.09,00:02:33,0.00%,0,0.00
8,Google Clothing,39,36,49,40.82,3.98,00:02:43,0.00%,0,0.00
9,NaN,2539,"1,853","3,457",32.51,5.21,00:03:17,0.40%,14,607.60